.gridContainer {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.Grid {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.black {
  background-color: black;
}
.yellow {
  background-color: yellow;
}

.Grid .row {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.Grid .col {
  border: 1px solid black;
  flex-grow: 1;
}
