.black {
  background-color: black;
}

.Grid .col {
  border: 1px solid black;
  display: inline-block;
  min-width: 50px;
  min-height: 50px;
}

.Grid .row {
  min-height: 50px;
  display: inline-grid;
}