.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.sidePanel {
  flex-basis: 15em;
  flex-shrink: 0;
  flex-grow: 0;
}

.gridPanel {
  flex-basis: 80%;
  flex-shrink: 1;
  flex-grow: 1;
}