.App {
  display: flex;
  flex-direction: row;
}

.sidePanel {
  flex-basis: 15em;
  flex-shrink: 0;
  flex-grow: 0;
}

.gridPanel {
  flex-basis: 80%;
  flex-shrink: 1;
  flex-grow: 1;
  max-width: 97vh;
  display: flex;
  flex-direction: column;
}

.grid-panel-editing {
  background-color: cyan;
  border: darkcyan 1px solid;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px darkcyan;
}
.grid-panel-solving {
  background-color: salmon;
  border: darksalmon 1px solid;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px darksalmon;
}

.grid-container-padding {
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}