.App {
  display: flex;
  flex-direction: row;
}

.sidePanel {
  flex-basis: 15em;
  flex-shrink: 0;
  flex-grow: 0;
}

.gridPanel {
  flex-basis: 80%;
  flex-shrink: 1;
  flex-grow: 1;
  max-width: 100vh;
  display: flex;
  flex-direction: column;
}

.grid-panel-editing {
  background-color: aqua;
}
.grid-panel-solving {
  background-color: salmon;
}

.grid-container-padding {
  padding: 5px;
  width: 100%;
}